<form id="form_1" name="form_1" class="needs-validation" action="http://localhost/nextform/post.php" method="post" novalidate>
<input id="_nf_token" name="_nf_token" type="hidden" value="not-so-random">
<div id="field_2_container" class="form-group row" data-nf-for="field_2">
<label for="field_2" class="col-form-label col-sm-2 text-md-right">User Name</label>
<div class="col-sm-10">
<input id="field_2" name="login_username" type="text" class="col-4 form-control" autofocus/>
</div>
</div>
<div id="field_3_container" class="form-group row" data-nf-for="field_3">
<label for="field_3" class="col-form-label col-sm-2 text-md-right">Password</label>
<div class="col-sm-10">
<input id="field_3" name="login_password" type="password" class="form-control"/>
</div>
</div>
<div id="field_4_container" class="form-group row" data-nf-for="field_4">
<div class="col-form-label col-sm-2 pt-0 text-md-right">&nbsp;</div>
<div class="col-sm-10">
<div class="form-check">
<input id="field_4" name="login_remember" type="checkbox" class="form-check-input"/>
<label for="field_4" class="form-check-label">Remember Me</label>
</div>
</div>
</div>
<div id="cell_5_container" class="form-group px-1 row" data-nf-for="cell_5">
<div class="col-form-label col-sm-2 text-md-right">&nbsp;</div>
<div class="col-sm-10 form-row">
<div id="button_6_container" class="form-group" data-nf-for="button_6">
<input id="button_6" name="button_6" type="submit" class="btn btn-primary" value="Login"/>
</div>
<a class="btn btn-link" href="/password/reset">Forgot Your Password?</a></div>
</div>
</form>
